.bikes {
  padding-block: 46px;

  @include on-tablet {
    padding-block: 60px;
  }

  @include on-desktop {
    padding-top: 82px;
    padding-bottom: 72px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;
      margin-bottom: 56px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    @include on-tablet {
      width: 392px;
      gap: 48px;
    }

    @include on-desktop {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: auto;
      gap: 24px;
    }
  }
}

.item-bikes {
  padding: 10px;
  padding-bottom: 15px;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: translateY(4px);
    box-shadow: 0 4px 4px #0e0e0ed0;
  }

  &__img {
    position: relative;
    width: 280px;
    aspect-ratio: 5 / 4;
    margin-bottom: 32px;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: $t-c;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #a6a6a6;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
