/* stylelint-disable no-descending-specificity */
/* stylelint-disable at-rule-empty-line-before */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body.body_overflow-hidden {
  overflow: hidden;
}

[class*='__container'] {
  max-width: 280px;
  margin: auto;
}

@media (min-width: 619.98px) {
  [class*='__container'] {
    max-width: 600px;
  }
}

@media (min-width: 1023.98px) {
  [class*='__container'] {
    max-width: 1020px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.header__container {
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  position: relative;
  width: 130px;
  height: 38px;
  transition: all 0.3s ease 0s;
  z-index: 6;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__logo:hover {
  transform: scale(1.05);
}

.header__logo:active {
  transform: translateY(2px);
  filter: invert(0.3);
}

.header__logo.header__logo_above-nav {
  filter: invert(0.9);
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header__button {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header__button img {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease 0s;
}

.header__button:hover img {
  transform: scale(1.1);
}

.header__button:active {
  transform: translateY(2px);
  filter: invert(0.3);
}

.header__button_phone {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  z-index: 2;
}

.header__button_phone p {
  display: none;
  white-space: nowrap;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease;
}

@media (min-width: 619.98px) {
  .header__button_phone {
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .header__button_phone p {
    display: block;
    position: relative;
  }

  .header__button_phone p::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    opacity: 0;
  }

  .header__button_phone p:hover::after {
    opacity: 1;
  }

  .header__button_phone:hover {
    width: auto;
  }

  .header__button_phone:hover p {
    opacity: 1;
  }
}

.header__button_menu {
  position: relative;
  z-index: 7;
}

.header__button_menu img:last-child {
  display: none;
}

.header__button_menu_active img:first-child {
  display: none;
}

.header__button_menu_active img:last-child {
  display: block;
}

.nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #c2c2c2;
  top: 0;
  left: -100%;
  z-index: 5;
  transition: all 0.3s ease 0s;
}

.nav_active {
  left: 0;
}

.nav__container {
  padding-top: 86px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child)::after {
  transition: all 0.3s ease 0s;
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  opacity: 0;
}

.nav__item:not(:last-child):hover::after {
  opacity: 1;
}

.nav__link {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 22px;
  color: #1d1d1d;
  font-weight: 600;
}

.nav__link_phone {
  margin-top: 8px;
}

.nav__link_phone span {
  display: block;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 10px;
  position: relative;
}

.nav__link_phone span::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.nav__link_phone span:hover::after {
  opacity: 1;
}

.nav__link_phone p {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

.nav__link_phone p::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  background-color: #1d1d1d;
  transition: all 0.3s ease 0s;
}

.nav__link_phone p:hover::after {
  transition: all 0.3s ease 0s;
  opacity: 1;
}

.intro {
  width: 100%;
  background-image: url('../img/intro_bg.jpg');
  background-size: cover;
  background-position-x: right;
}

.intro_container {
  position: relative;
  height: 100vh;
}

.intro__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 88px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
  white-space: nowrap;
}

@media (min-width: 619.98px) {
  .intro__title {
    font-size: 64px;
    bottom: 130px;
  }
}

@media (min-width: 1023.98px) {
  .intro__title {
    font-size: 80px;
    bottom: 203;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 46px;
}

@media (min-width: 619.98px) {
  .about {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1023.98px) {
  .about {
    padding-bottom: 80px;
  }
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media (min-width: 619.98px) {
  .about__container {
    gap: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: 1023.98px) {
  .about__container {
    align-items: center;
  }
}

.about__title {
  font-size: 32px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

@media (min-width: 619.98px) {
  .about__title {
    font-size: 48px;
  }
}

@media (min-width: 1023.98px) {
  .about__title {
    font-size: 64px;
  }
}

.about__text {
  font-size: 23px;
  font-weight: 500;
  line-height: 140%;
}

@media (min-width: 619.98px) {
  .about__text {
    width: 288px;
  }
}

@media (min-width: 1023.98px) {
  .about__text {
    width: 500px;
  }
}

.bikes {
  padding-block: 46px;
}

@media (min-width: 619.98px) {
  .bikes {
    padding-block: 60px;
  }
}

@media (min-width: 1023.98px) {
  .bikes {
    padding-top: 82px;
    padding-bottom: 72px;
  }
}

.bikes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bikes__title {
  font-size: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 48px;
}

@media (min-width: 619.98px) {
  .bikes__title {
    font-size: 48px;
  }
}

@media (min-width: 1023.98px) {
  .bikes__title {
    font-size: 64px;
    margin-bottom: 56px;
  }
}

.bikes__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

@media (min-width: 619.98px) {
  .bikes__list {
    width: 392px;
    gap: 48px;
  }
}

@media (min-width: 1023.98px) {
  .bikes__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 24px;
  }
}

.item-bikes {
  padding: 10px;
  padding-bottom: 15px;
  transition: all 0.3s ease 0s;
}

.item-bikes:hover {
  transform: translateY(4px);
  box-shadow: 0 4px 4px rgba(14, 14, 14, 0.82);
}

.item-bikes__img {
  position: relative;
  width: 280px;
  aspect-ratio: 5/4;
  margin-bottom: 32px;
}

@media (min-width: 619.98px) {
  .item-bikes__img {
    width: 392px;
  }
}

@media (min-width: 1023.98px) {
  .item-bikes__img {
    width: 324px;
  }
}

.item-bikes__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-bikes__title {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.item-bikes__title:hover {
  color: #a6a6a6;
}

.item-bikes__title:active {
  transform: translateY(2px);
}

.item-bikes__text {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.item-bikes__price {
  font-size: 24px;
  font-weight: 700;
}

.details {
  padding-top: 46px;
  padding-bottom: 40px;
}

@media (min-width: 619.98px) {
  .details {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media (min-width: 1023.98px) {
  .details {
    padding-top: 72px;
    padding-bottom: 90px;
  }
}

.details__container {
  display: flex;
  flex-direction: column;
}

.details__title {
  font-size: 32px;
  letter-spacing: -1.5px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 619.98px) {
  .details__title {
    font-size: 48px;
  }
}

@media (min-width: 1023.98px) {
  .details__title {
    font-size: 64px;
  }
}

.details__articles {
  margin-top: 48px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

@media (min-width: 619.98px) {
  .details__articles {
    gap: 48px;
    margin-bottom: 48px;
    margin-top: 60px;
  }
}

.details__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-block: 14.5px;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.details__link:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}

.details__link:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
}

@media (min-width: 619.98px) {
  .details__link {
    width: 392px;
    margin: auto;
  }
}

@media (min-width: 1023.98px) {
  .details__link {
    width: 324px;
  }
}

.article-details {
  width: 100%;
}

.article-details__images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.article-details__images_reversed {
  flex-direction: row-reverse;
}

.article-details__image {
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  display: block;
}

.article-details__image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}

.article-details__image:hover img {
  transform: scale(1.05);
}

@media (min-width: 619.98px) {
  .article-details__image {
    height: 187px;
  }

  .article-details__image:first-child {
    flex-basis: 392px;
  }

  .article-details__image:last-child {
    flex-basis: 184px;
  }
}

@media (min-width: 1023.98px) {
  .article-details__image {
    height: 321px;
  }

  .article-details__image:first-child {
    flex-basis: 672px;
  }

  .article-details__image:last-child {
    flex-basis: 324px;
  }
}

.article-details__title {
  display: block;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 8px;
}

.article-details__text {
  font-size: 16px;
  line-height: 1.4;
}

@media (min-width: 1023.98px) {
  .article-details__text {
    width: 672px;
  }
}

.footer {
  padding-top: 40px;
}

@media (min-width: 619.98px) {
  .footer {
    padding-top: 60px;
  }
}

@media (min-width: 1023.98px) {
  .footer {
    padding-top: 72px;
  }
}

.footer__container {
  margin-bottom: 120px;
}

.footer__title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 619.98px) {
  .footer__title {
    font-size: 48px;
    margin-bottom: 48px;
  }
}

@media (min-width: 619.98px) {
  .footer__content {
    display: flex;
    gap: 24px;
  }
}

@media (min-width: 1023.98px) {
  .footer__content {
    gap: 200px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__img {
  width: 100%;
  height: 200px;
  position: relative;
}

.footer__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 619.98px) {
  .footer__img {
    height: 480px;
  }
}

@media (min-width: 1023.98px) {
  .footer__img {
    height: 555px;
  }
}

.contact-us {
  margin-bottom: 48px;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us__input {
  width: 100%;
  border-radius: 40px;
  font-size: 14px;
  line-height: 20px;
  height: 48px;
  padding: 14px 16px;
  margin-bottom: 16px;
}

.contact-us__textarea {
  width: 100%;
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 16px;
  height: 148px;
  margin-bottom: 32px;
}

.contact-us__button {
  width: 100%;
  border-radius: 40px;
  height: 48px;
  color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  transition: all 0.3s ease 0s;
}

.contact-us__button:hover {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
}

.contact-us__button:active {
  box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
}

@media (min-width: 619.98px) {
  .contact-us {
    width: 288px;
  }
}

@media (min-width: 1023.98px) {
  .contact-us {
    width: 420px;
  }
}
